---
import Layout from '../layouts/Layout.astro';
import { RandomTable } from '@/components/RandomTable'
import { Button } from '@/components/ui/button';

import '@/styles/global.css'

---

<Layout title="Westmarches">
	<main class="flex flex-col items-center gap-5 p-5">
		<h1 class="text-5xl">The Westmarches</h1>
		<RandomTable client:load></RandomTable>
	</main>
</Layout>