---
import Layout from '../layouts/Layout.astro';

import '@/styles/global.css'

---

<Layout title="Westmarches">
	<main class="flex flex-col items-center gap-5 p-5">
		<h1 class="text-5xl">The Westmarches</h1>
	</main>
</Layout>